// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the common.variables.styl file
@import 'common.variables'

// Material only Quasar variables overwrites
// -----------------------------------------
$primary   = #4C4C4C
$secondary = #EFA842
$tertiary  = #F2F2F2

$neutral   = #E0E1E2
$positive  = #43AA8B
$negative  = #E4572E
$info      = #31CCEC
$warning   = #F2C037
